proxmox_endpoint  = "https://192.168.1.10:8006"
proxmox_username  = "root@pam"
proxmox_password  = "changeme"
proxmox_insecure  = true
proxmox_node      = "pve"

lxc_template      = "local:vztmpl/debian-12-standard_12.7-1_amd64.tar.zst"
lxc_root_password = "changeme"
ssh_public_key    = "ssh-ed25519 AAAA... you@host"

salt_master_ip    = "192.168.1.100"
gateway           = "192.168.1.1"
dns_server        = "1.1.1.1"
storage_pool      = "local-zfs"